.divClima {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 6px 12px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width: 170px;
}

.divClima p {
    margin: 2px 0;
}
