.ContenedorTarjeta {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta {
    width: 220px;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}