.usuarios-container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-usuario {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-usuario h3 {
  margin-bottom: 10px;
  color: #444;
}

.form-usuario input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-agregar {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-agregar:hover {
  background-color: #45a049;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tabla-usuarios th {
  background-color: #333;
  color: white;
}

.btn-eliminar {
  padding: 6px 12px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-eliminar:hover {
  background-color: #c62828;
}

.btn-editar {
  padding: 6px 12px;
  background-color: #68e657;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-editar:hover {
  background-color: #68e657;
}